.talk-me-button {
	display          : flex;
	align-items      : center;
	justify-content  : space-around;
	width            : 100%;
	height           : 80px;
	background-color : lightseagreen;

	&:hover {
		cursor           : pointer;
		background-color : black;
	}
}

.talk-me-button-label {
	font-size        : 1rem;
	font-weight      : bold;
	padding          : 0.25rem;
	white-space      : pre;
	color            : black;
	background-color : gold;
}

.talk-me-button-logo {
	width  : 4rem;
	height : 4rem;
}

.talk-me-disabled {
	cursor           : not-allowed;
	background-color : grey;

	&:hover {
		cursor           : not-allowed;
		background-color : grey;
	}
}


.talk-me-loading-spinner {
	position      : relative;
	display       : inline-block;
	box-sizing    : border-box;
	width         : 48px;
	height        : 48px;
	animation     : rotation 2s linear infinite;
	border        : 3px dotted #ffffff;
	border-style  : solid solid dotted dotted;
	border-radius : 50%;

	&::after {
		position         : absolute;
		top              : 0;
		right            : 0;
		bottom           : 0;
		left             : 0;
		box-sizing       : border-box;
		width            : 24px;
		height           : 24px;
		margin           : auto;
		content          : '';
		transform-origin : center center;
		animation        : rotationBack 1s linear infinite;
		border           : 3px dotted #ff3d00;
		border-style     : solid solid dotted;
		border-radius    : 50%;
	}
}

@keyframes rotation {
	0% {
		transform : rotate(0deg);
	}
	100% {
		transform : rotate(360deg);
	}
}

@keyframes rotationBack {
	0% {
		transform : rotate(0deg);
	}
	100% {
		transform : rotate(-360deg);
	}
}